body h1{
	text-align: center;
	color: #088A08;
	font-size: 2.916666666666667em;
}


body{
    background: url("http://cdns2.freepik.com/free-photo/exquisite-leaf-background----vector-material_34-57248.jpg") no-repeat center center fixed;
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.submit{
	font-size: 20px;
	text-align: center;
	border-style: solid;
	border-width: 5px;

}

form{
	text-align: center;
}

ul{
	list-style: none;
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.Buttons{
	font-size: 40px

}

.Button1{
	float: left;
	border: 5px solid;
    border-radius: 25px;
    background: #BBBBBB;
}

.Button2{
	float: right;
	border: 5px solid;
    border-radius: 25px;
    background: #BBBBBB;
}

.SignUp{
	border-bottom: 5px solid black;
}

.submit1{
	border: 5px solid;
	text-align: center;
	font-size: 30px;
	width: 100px;
	margin: auto;
	border-radius: 25px;
	margin-top: 5px;
	background: #BBBBBB;
}

td{
    text-align:right;
}

.Story1{
	border-top: 3px solid black;
	border-bottom: 3px solid black
}
div h9 {
	font-size: 30px;
	font-style: bold;
}

.CommentSubmit{
	border: 1px solid white;
	border-radius: 10px;
	float: left;
	background: white; 
}
.Alt_Login{
	border: 2px solid black;
	border-radius: 5px;
	float: center;
	background-color: red;
	margin-left:600px;
	margin-right:600px;


}