body h1{
	text-align: center;
	color: #5C755E;
	font-size: 2.916666666666667em;
}

body{
    background-image: url("Background1.png");
}

form{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.Story1{
	border-top: 3px solid #5C755E;
	border-bottom: 3px solid #5C755E;
}
div h9 {
	font-size: 30px;
	font-style: bold;
}

.CommentSubmit{
	border: 1px solid white;
	border-radius: 10px;
	float: left;
	background: white; 
}
.Alt_Login{
	border: 2px solid black;
	border-radius: 5px;
	float: center;
	background-color: red;
	margin-left:600px;
	margin-right:600px;
}

.TopBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #A97D5D;
}

.TopBar_Content{
    display: inline;
    font-size: 20px;
}

.Developers {
	font-size: 30px;
	text-align: center;
	border-bottom: 5px dashed;
}

.People{
	font-size: 25px;
	text-align: center;
}

.Seward_Info{
	list-style-type: none;
    margin: 0;
    padding: 0;
    background: #A97D5D;
}

.Seward_Info_Info{
	font-size: 20px;
}

.Erik_Info{
	list-style-type: none;
    margin: 0;
    padding: 0;
    background: #A97D5D;
}

.Erik_Info_Info{
	font-size: 20px;
}
.Settings_Table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 70%;
  margin: auto;
  margin-top: 50px;
  border: 10px solid white;
  background: grey;
}
.Settings_Table_Row{
	border:10px solid white;
}
.Settings_Table_Data {
  border: 1px solid #000;
  width: 100px;
  font-size: 30px;
  padding: 30px;
  text-align: center;
}

.Title_Settings_Class{
	font-size: 50px;
	font-family: bold;
	text-align: center;
}

.Title_Settings_Border{
	text-align: center;
	margin-top: -50px;
}

.Second_Title_Settings_Border{
	text-align: center;
	margin-top: -30px;
}


.Login_App_img{
	position: absolute;
	left :30%;
	top: 15%;
	border-radius: 10px;

}

.Login_Title{
	padding-top: 300px;
	font-size: 3.125em;
}

.Profile_img{
	border: 3px solid blue;
}
.Profile_Name{
	font-size: 25px;
	color:blue;
	text-align: left;
}

a { 
	color: #5C755E; text-decoration: none; 
} 
a:visited { 
	color: #5C755E;
 } 
a:hover { 
	text-decoration: underline; 
}