body h1{
	text-align: center;
	color: #5C755E;
	font-size: 2.10em;
}

form{
	text-align: center;
	font-weight: bold;
}
/*Login, SignUp, and ProfileCreation CSS
--------------------------------------------------------
*/

/*body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
*/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
  color: white;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#signupbutton{
	text-decoration: none;
}
/*NavBar CSS---------------------------------------------------------------*/
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}
/*----------------------------------------------------------------------*/
.Story1{
	border-top: 3px solid #5C755E;
	border-bottom: 3px solid #5C755E;
}
div h9 {
	font-size: 30px;
	font-style: bold;
}

.CommentSubmit{
	border: 1px solid white;
	border-radius: 10px;
	float: left;
	background: white; 
}
.Alt_Login{
	border: 2px solid black;
	border-radius: 5px;
	float: center;
	background-color: red;
	margin-left:600px;
	margin-right:600px;
}

.TopBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #C0C0C0;
}

.TopBar_Content{
    display: inline;
    font-size: 20px;
}

.Developers {
	font-size: 30px;
	text-align: center;
	border-bottom: 5px dashed;
}

.People{
	font-size: 25px;
	text-align: center;
}

.Seward_Info{
	list-style-type: none;
    margin: 0;
    padding: 0;
    background: #A97D5D;
}

.Seward_Info_Info{
	font-size: 20px;
}

.Erik_Info{
	list-style-type: none;
    margin: 0;
    padding: 0;
    background: #A97D5D;
}

.Erik_Info_Info{
	font-size: 20px;
}
.Settings_Table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 70%;
  margin: auto;
  margin-top: 50px;
  border: 10px solid green;
  background: grey;
}
.Settings_Table_Row{
	border:10px solid white;
}
.Settings_Table_Data {
  border: 1px solid #000;
  width: 100px;
  font-size: 30px;
  padding: 30px;
  text-align: center;
}

.Title_Settings_Class{
	font-size: 50px;
	font-family: bold;
	text-align: center;
}

.Title_Settings_Border{
	text-align: center;
	margin-top: -50px;
}

.Second_Title_Settings_Border{
	text-align: center;
	margin-top: -30px;
}


.Login_App_img{
	position: absolute;
	left :30%;
	top: 15%;
	border-radius: 10px;

}

.Login_Title{
	padding-top: 300px;
	font-size: 3.125em;
}

.Profile_img{
	border: 3px solid green;
}
.Profile_Name{
	font-size: 25px;
	color:green;
	text-align: left;
}

a { 
	color: #5C755E; text-decoration: none; 
} 
a:visited { 
	color: #7ABA7A;
 } 
a:hover { 
	color:#3A5F0B; 
}

body{
	background:linear-gradient(#005A04, #CCFFBB);
	background: -webkit-linear-gradient(#005A04, #CCFFBB);
	background-size: 100% 100%;
}	


/* These are for the after-story coment*/

.textbox { 
    background: white; 
    border: 1px solid #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none; 
    height:50%; 
    width: 60%;
    margin-left:10%;
	margin-right:10%;
	margin-bottom:0%;
	padding:10% 10%;
   } 

.css_button {
    font-size: 14px;
    font-family: Arial;
    font-weight: normal;
    text-decoration: inherit;
    -webkit-border-radius: 17px 17px 17px 17px;
    -moz-border-radius: 17px 17px 17px 17px;
    border-radius: 17px 17px 17px 17px;
    border: 1px solid #268a16;
    padding: 8px 18px;
    text-shadow: 1px 1px 8px #aade7c;
    -webkit-box-shadow: inset 0px 0px 19px 6px rgba(202, 239, 171, 0.82);
    -moz-box-shadow: inset 0px 0px 19px 6px rgba(202, 239, 171, 0.82);
    box-shadow: inset 0px 0px 19px 6px rgba(202, 239, 171, 0.82);
    cursor: pointer;
    color: #306108;
    display: inline-block;
    background: -webkit-linear-gradient(90deg, #5cb811 11%, #77d42a 100%);
    background: -moz-linear-gradient(90deg, #5cb811 11%, #77d42a 100%);
    background: -ms-linear-gradient(90deg, #5cb811 11%, #77d42a 100%);
    background: linear-gradient(180deg, #77d42a 11%, #5cb811 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#77d42a",endColorstr="#5cb811");
    margin-left:60%;
	margin-right:30%;
}

.css_button:hover {
    background: -webkit-linear-gradient(90deg, #77d42a 11%, #5cb811 100%);
    background: -moz-linear-gradient(90deg, #77d42a 11%, #5cb811 100%);
    background: -ms-linear-gradient(90deg, #77d42a 11%, #5cb811 100%);
    background: linear-gradient(180deg, #5cb811 11%, #77d42a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5cb811",endColorstr="#77d42a");
    margin-left:60%;
	margin-right:30%;
}

.css_button:active {
	margin-left:60%;
	margin-right:30%;
    position:relative;
    top: 1px;
}


html{
	min-height: 100%;
}
